@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ var home = CurrentPage.Site(); }

@{ var test =  @Model.Content.AncestorOrSelf(1).Children.Where(x => x.DocumentTypeAlias != "portfolioStyle1").First().Children; }

@if (home.Children.Any())
{
    @* Get the first page in the children *@
    var naviLevel = home.Children.First().Level;
    
    <!-- Nav Menu -->
	<div id='cssmenu'>
		<ul>
		     @* For each child page under the home node *@
            @foreach (var childPage in home.Children)
            {   
                if (childPage.Children.Where("DocumentTypeAlias != \"portfolioStyle1\"").Any())
                {                    
                    <li class="has-sub @(childPage.IsAncestorOrSelf(CurrentPage) ? "active" : null)">
					    <a href='@childPage.Url'><span>@childPage.Name</span></a>
					    <ul>
						    @childPages(childPage.Children.Where("DocumentTypeAlias != \"portfolioStyle1\""))
						</ul>
                    </li>
                } 
    			else
                {
                    <li class="@(childPage.IsAncestorOrSelf(CurrentPage) ? "active" : null)">
                        <a href="@childPage.Url">@childPage.Name</a>
                    </li>
                }            
            }
		</ul>
	</div>
}

@helper childPages(dynamic pages)
{
    @* Ensure that we have a collection of pages *@
    if (pages.Any())
    {
        @* Get the first page in pages and get the level *@
        var naviLevel = pages.First().Level;
        
        @* Add in level for a CSS hook *@
        foreach (var page in pages)
        {
            <li><a href='@page.Url'><span>@page.Name</span></a></li>
        }
    }
}