@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="description" content="@CurrentPage.siteDescription">
	<meta name="author" content="Sharp Software Solutions">

	<title>@CurrentPage.Name | @CurrentPage._siteTitle</title>

	<!-- Mobile Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico">

	<!-- Google Webfonts -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,600italic,700italic,800,800italic,300italic,300" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Sanchez:400,400italic" rel="stylesheet">

	<!--[if lt IE 9]>
	<script src="/js/libs/respond.min.js"></script>
	<![endif]-->

	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.css" rel="stylesheet">

	<!-- Theme Styles CSS-->
	<link href="/css/style.css" rel="stylesheet">
    <link href="/css/theme-shop.css" rel="stylesheet">
	<link href="/css/elements.css" rel="stylesheet">
	<link href="/css/fonts/icomoon/iconmoon.css" rel="stylesheet">
    <link href="/css/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
	
    <!-- Plugins CSS -->
    <link href="/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/js/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="/js/flexslider/flexslider.css" rel="stylesheet">
	<link href="/css/isotope.css" rel="stylesheet">
	<link href="/js/slickNav/slicknav.css" rel="stylesheet" >
    <link href="/js/fancybox/jquery.fancybox.css" rel="stylesheet">
    

	<!--[if lt IE 9]>
	<script src="/js/libs/html5.js"></script>
	<![endif]-->

</head>
<body id="pages">

<div class="body">
	<div class="top-wrap">
		<div class="overlay-bg"></div>

		<!-- Header -->
		<header>
			<div class="container">
				<div class="col-md-12">

					<!-- Logo -->
					<h1 class="logo"><a href="./index.html">Boyd Sharp Art</a></h1>
					@{ Html.RenderPartial("c_MainNavigation"); }
				</div>
			</div>
		</header>
		<!-- Header -->

		@Html.Partial("c_ImageSliderFromSubPages")
	</div>


	<div class="main-wrap">
	    <!-- Recent work -->
	    @Html.Partial("c_NewArt")
	</div>
</div>

	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="col-md-2 footer-widget">
				<h6>Quick Links</h6>
				<ul class="link-list">
					<li><a href="#">&rarr; Features</a></li>
					<li><a href="#">&rarr; Portfolio</a></li>
					<li><a href="#">&rarr; Our Blog</a></li>
					<li><a href="#">&rarr; About</a></li>
					<li><a href="#">&rarr; Contact</a></li>
				</ul>
			</div>
			<div class="col-md-2 footer-widget">
				<h6>Blogroll</h6>
				<ul class="link-list">
					<li><a href="#">&rarr; Forums</a></li>
					<li><a href="#">&rarr; Support/Help</a></li>
					<li><a href="#">&rarr; Privacy Policy</a></li>
					<li><a href="#">&rarr; Documentation</a></li>
					<li><a href="#">&rarr; Terms</a></li>
				</ul>
			</div>
			<div class="col-md-2 footer-widget">
				<h6>Contact</h6>
				<p>Design Headquarters<br>456 W57th Street<br>NYC, New York 06415</p>
			</div>
			<div class="col-md-6 footer-widget">
				<h6>Be Sociable</h6>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				<ul class="social">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
				</ul>
			</div>
		</div>
	</footer>
	<div class="footer-copy">
		<div class="container">
			<div class="col-md-12">
				<p>&copy; Copyright 2017 Sharp Software Solutions</p>
			</div>
		</div>
	</div>
	<!-- Footer -->
	
</div>

<!-- JavaScript -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/owl-carousel/owl.carousel.js"></script>
<script src="/js/flexslider/jquery.flexslider.js"></script>
<script src="/js/slickNav/jquery.slicknav.min.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/fancybox/jquery.fancybox.pack.js"></script>
<script src="/js/main.js"></script>


</body>
</html>